.textGroup {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 3px white;
    
}
.wrapperGroup {
    box-shadow: 0 0 5px 2px;
}
.taskItem {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
    width: 400px;

}
.ulTask {
    padding-bottom: 10px;
    padding-right: 15px;
}

.deadline {
    padding: 10px;
    margin-left: -70px;
    font-weight: 700;
    text-shadow: 2px 2px 3px white;
}

.taskText {
    text-shadow: 2px 2px 3px white;
    font-size: 20px;
}

.inProcess {
    text-shadow: 2px 2px 3px white;
    font-size: 20px;
}

.deadlineEnd {
    text-shadow: 2px 2px 3px white;
    font-size: 20px;
}