.wrapper {
    display: flex;
    flex-direction: column;
}

.inputMain {
    margin-left: 10px;
    outline: none;
    padding: 5px;
    border: none;
    cursor: pointer;
    
    align-items: center;
}

.linkMain{
    text-decoration: none;
}

.buttonMain {
    padding: 7px;

}
.labelContainer {
    display: flex;
    text-align: center;
    align-items: center;
}